<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.akshitgupta1695.textextractor">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Activities.HomeActivity"
            android:label="Data Extractor (On-Device ML)"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AadhaarActivity"
            android:label="Aadhaar Card Data Extract"
            android:parentActivityName=".Activities.HomeActivity"></activity>
        <activity
            android:name=".Activities.GenericIdActivity"
            android:label="Generic ID Card Data Extract"
            android:parentActivityName=".Activities.HomeActivity"></activity>
        <activity android:name=".Activities.PanCardActivity"
            android:label="PAN Card Data Extract"
            android:parentActivityName=".Activities.HomeActivity">
        </activity>
    </application>

</manifest>